<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create New Category</title>
</head>
<body>

 
 <form action="/categories/new" method="POST">
 		<p>Create a new category to add a quote to.</p>
    <input type="text" name="name" placeholder="Category Name" /><br>
    <input type="text" name="description" placeholder="Category Description" /><br>
    <button>Submit</button>
  </form>



</body>
</html>